@model GtdApp.Entities.Todo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Todo</legend>

    <div class="display-label">ContextId</div>
    <div class="display-field">@Model.ContextId</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">IsDone</div>
    <div class="display-field">@Model.IsDone</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TodoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

